workflows/n8n/lead-capture/cold-lead-revival.json
{
  "name": "Cold Lead Revival - NEXUS",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1
            }
          ]
        },
        "triggerTimes": {
          "item": [
            {
              "hour": 9,
              "minute": 0
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "notes": "Runs daily to identify and re-engage cold leads"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_API_URL }}/leads/inactive",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "inactiveDays",
              "value": "30"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "excludeUnsubscribed",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-inactive",
      "name": "Fetch Inactive Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Retrieves leads with no activity in the last 30 days"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.leads?.length || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-leads",
      "name": "Any Inactive Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Checks if there are inactive leads to process"
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split-leads",
      "name": "Split into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [850, 250],
      "notes": "Processes leads individually"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.revivalAttempts || 0 }}",
              "operation": "smaller",
              "value2": 3
            }
          ]
        }
      },
      "id": "check-attempts",
      "name": "Under 3 Attempts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 250],
      "notes": "Only contacts leads with fewer than 3 revival attempts"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "currentAttempt",
              "value": "={{ $json.revivalAttempts + 1 }}"
            }
          ],
          "string": [
            {
              "name": "revivalCampaignId",
              "value": "revival-{{ $now.toFormat('yyyy-MM-dd') }}-{{ $runIndex }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-attempt",
      "name": "Set Revival Attempt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1250, 200],
      "notes": "Tracks revival attempt number"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.email }}",
        "subject": "{{ $json.firstName }}, We Miss You at NEXUS",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; border-radius: 10px 10px 0 0; }\n    .content { background: #f9f9f9; padding: 30px; border-radius: 0 0 10px 10px; }\n    .highlight-box { background: #fff3cd; border-left: 4px solid #ffc107; padding: 20px; margin: 20px 0; }\n    .cta-button { display: inline-block; background: #667eea; color: white; padding: 15px 30px; text-decoration: none; border-radius: 5px; margin: 20px 0; font-size: 18px; }\n    .feature { background: white; padding: 15px; margin: 10px 0; border-radius: 5px; border-left: 3px solid #667eea; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>We've Been Busy!</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hi {{ $json.firstName }},</p>\n      \n      <p>It's been a while since we last connected, and I wanted to reach out personally.</p>\n      \n      <div class=\"highlight-box\">\n        <h3>🚀 What's New at NEXUS</h3>\n        <p>Since we last spoke, we've launched several game-changing features that brands are raving about:</p>\n      </div>\n      \n      <div class=\"feature\">\n        <strong>✨ AI Content Variants</strong><br>\n        Generate 10+ content variations from a single piece of UGC in seconds\n      </div>\n      \n      <div class=\"feature\">\n        <strong>📱 TikTok & Reels Integration</strong><br>\n        Seamlessly publish to short-form video platforms with one click\n      </div>\n      \n      <div class=\"feature\">\n        <strong>🤖 Smart Influencer Matching</strong><br>\n        AI-powered recommendations to find the perfect brand ambassadors\n      </div>\n      \n      <div class=\"feature\">\n        <strong>💰 ROI Attribution Dashboard</strong><br>\n        Track every dollar of revenue generated by your UGC campaigns\n      </div>\n      \n      <p><strong>Special Offer:</strong> As a returning prospect, I'd like to offer you:</p>\n      <ul>\n        <li>🎁 Extended 60-day free trial (normally 30 days)</li>\n        <li>📊 Free UGC audit & strategy session (value: $500)</li>\n        <li>🎓 Complimentary team onboarding & training</li>\n      </ul>\n      \n      <center>\n        <a href=\"{{ $env.APP_URL }}/special-offer?lead={{ $json.leadId }}&campaign={{ $json.revivalCampaignId }}\" class=\"cta-button\">Claim Your Extended Trial</a>\n      </center>\n      \n      <p>No pressure - I just thought you might want to see what you've been missing.</p>\n      \n      <p>Is now a better time to explore NEXUS?</p>\n      \n      <p>Best regards,<br>\n      The NEXUS Team</p>\n      \n      <p style=\"font-size: 12px; color: #666; margin-top: 30px;\">\n        P.S. If you're not interested, that's totally fine - just click <a href=\"{{ $env.APP_URL }}/unsubscribe?email={{ $json.email }}\">here</a> and I won't bother you again.\n      </p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Re-engagement Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1450, 150],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP Account"
        }
      },
      "notes": "Sends personalized re-engagement email highlighting new features and special offer"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}/activity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "revival_email"
            },
            {
              "name": "attempt",
              "value": "={{ $json.currentAttempt }}"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.revivalCampaignId }}"
            },
            {
              "name": "sentAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-email",
      "name": "Log Email Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Records email activity in CRM"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "wait-2-days",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1850, 150],
      "webhookId": "revival-wait",
      "notes": "Waits 2 days before checking for email engagement"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}/engagement",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $now.minus({ days: 2 }).toISO() }}"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.revivalCampaignId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-engagement",
      "name": "Check Email Engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Checks if lead opened or clicked email"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.engaged }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-if-engaged",
      "name": "Lead Engaged?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, 150],
      "notes": "Checks if lead showed any engagement with email"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "re-engaged"
            },
            {
              "name": "campaignId",
              "value": "nurture_b_leads"
            },
            {
              "name": "reEngagedAt",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "assignTo",
              "value": "sales_team"
            }
          ]
        },
        "options": {}
      },
      "id": "move-to-nurture",
      "name": "Move to Active Nurture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2450, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Moves engaged lead back to active nurture campaign"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.phone && $json.phone !== '' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "has-phone",
      "name": "Has Phone Number?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2450, 250],
      "notes": "Checks if lead has phone number for SMS escalation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.TWILIO_API_URL }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $env.TWILIO_PHONE_NUMBER }}"
            },
            {
              "name": "To",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "Body",
              "value": "Hi {{ $json.firstName }}, this is NEXUS. We noticed you haven't responded to our recent email about new platform features. We're offering an extended 60-day trial for returning prospects. Interested? Reply YES or visit {{ $env.APP_URL }}/trial?lead={{ $json.leadId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-sms",
      "name": "Send SMS Follow-up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2650, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "5",
          "name": "Twilio API"
        }
      },
      "notes": "Sends SMS to non-engaged leads with phone numbers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}/activity",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "revival_sms"
            },
            {
              "name": "attempt",
              "value": "={{ $json.currentAttempt }}"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.revivalCampaignId }}"
            },
            {
              "name": "sentAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "log-sms",
      "name": "Log SMS Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Records SMS activity in CRM"
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "days"
      },
      "id": "wait-3-days-sms",
      "name": "Wait 3 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3050, 200],
      "webhookId": "revival-sms-wait",
      "notes": "Waits 3 days before final escalation"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}/engagement",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "since",
              "value": "={{ $now.minus({ days: 3 }).toISO() }}"
            },
            {
              "name": "campaignId",
              "value": "={{ $json.revivalCampaignId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-sms-engagement",
      "name": "Check SMS Engagement",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Checks if lead responded to SMS"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.engaged }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-sms-response",
      "name": "SMS Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [3450, 200],
      "notes": "Checks if lead responded to SMS"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "sms_engaged"
            },
            {
              "name": "assignTo",
              "value": "sales_team"
            },
            {
              "name": "priority",
              "value": "high"
            },
            {
              "name": "reEngagedAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "route-to-sales",
      "name": "Route to Sales (Hot)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3650, 150],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Routes SMS responders directly to sales team"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({\n  text: '🔥 Re-engaged Lead!',\n  blocks: [\n    {\n      type: 'header',\n      text: {\n        type: 'plain_text',\n        text: '🔥 Cold Lead Responded to SMS!'\n      }\n    },\n    {\n      type: 'section',\n      fields: [\n        { type: 'mrkdwn', text: `*Name:*\\n${$json.firstName} ${$json.lastName}` },\n        { type: 'mrkdwn', text: `*Company:*\\n${$json.company}` },\n        { type: 'mrkdwn', text: `*Phone:*\\n${$json.phone}` },\n        { type: 'mrkdwn', text: `*Revival Attempt:*\\n${$json.currentAttempt}` }\n      ]\n    },\n    {\n      type: 'actions',\n      elements: [\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'Call Now' },\n          url: `tel:${$json.phone}`,\n          style: 'primary'\n        },\n        {\n          type: 'button',\n          text: { type: 'plain_text', text: 'View in CRM' },\n          url: `${$env.CRM_URL}/leads/${$json.leadId}`\n        }\n      ]\n    }\n  ]\n}) }}"
      },
      "id": "notify-sales-slack",
      "name": "Notify Sales Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3850, 150],
      "notes": "Alerts sales team of hot re-engaged lead"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "revival_failed"
            },
            {
              "name": "campaignId",
              "value": "archived"
            },
            {
              "name": "revivalAttempts",
              "value": "={{ $json.currentAttempt }}"
            },
            {
              "name": "archivedAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "archive-lead",
      "name": "Archive Unresponsive Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Archives lead after all revival attempts exhausted"
    },
    {
      "parameters": {},
      "id": "skip-no-phone",
      "name": "Skip (No Phone)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2650, 350],
      "notes": "Skips SMS if no phone number available"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.CRM_API_URL }}/leads/{{ $json.leadId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "revivalAttempts",
              "value": "={{ $json.currentAttempt }}"
            },
            {
              "name": "lastRevivalAt",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "update-attempts",
      "name": "Update Revival Attempts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "CRM API"
        }
      },
      "notes": "Updates CRM with revival attempt count"
    },
    {
      "parameters": {},
      "id": "skip-max-attempts",
      "name": "Skip (Max Attempts)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 350],
      "notes": "Skips leads that have already had 3 revival attempts"
    },
    {
      "parameters": {},
      "id": "end-no-leads",
      "name": "No Inactive Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400],
      "notes": "Workflow ends if no inactive leads found"
    }
  ],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Fetch Inactive Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Inactive Leads": {
      "main": [
        [
          {
            "node": "Any Inactive Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any Inactive Leads?": {
      "main": [
        [
          {
            "node": "Split into Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Inactive Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Items": {
      "main": [
        [
          {
            "node": "Under 3 Attempts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Under 3 Attempts?": {
      "main": [
        [
          {
            "node": "Set Revival Attempt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (Max Attempts)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Revival Attempt": {
      "main": [
        [
          {
            "node": "Send Re-engagement Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Re-engagement Email": {
      "main": [
        [
          {
            "node": "Log Email Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Email Activity": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Check Email Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Engagement": {
      "main": [
        [
          {
            "node": "Lead Engaged?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Engaged?": {
      "main": [
        [
          {
            "node": "Move to Active Nurture",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Phone Number?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone Number?": {
      "main": [
        [
          {
            "node": "Send SMS Follow-up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip (No Phone)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS Follow-up": {
      "main": [
        [
          {
            "node": "Log SMS Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log SMS Activity": {
      "main": [
        [
          {
            "node": "Wait 3 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days": {
      "main": [
        [
          {
            "node": "Check SMS Engagement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SMS Engagement": {
      "main": [
        [
          {
            "node": "SMS Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Response?": {
      "main": [
        [
          {
            "node": "Route to Sales (Hot)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Unresponsive Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route to Sales (Hot)": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip (No Phone)": {
      "main": [
        [
          {
            "node": "Update Revival Attempts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "1",
      "name": "Lead Capture"
    },
    {
      "createdAt": "2025-01-15T10:00:00.000Z",
      "updatedAt": "2025-01-15T10:00:00.000Z",
      "id": "2",
      "name": "NEXUS"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "nexus-cold-lead-revival"
  },
  "active": true
}
